.vscode/tasks.json
assets/_tikz_tmp/test_tikz/test_image.aux
assets/_tikz_tmp/test_tikz/test_image.log
assets/_tikz_tmp/test_tikz/test_image.pdf
assets/_tikz_tmp/test_tikz/test_image.tex
assets/images/test_tikz/test_image.svg
Gemfile.lock
_site
.bundle
.DS_Store
