.vscode/tasks.json
Gemfile.lock
_site
_tikz_tmp
.bundle
.DS_Store
_tikz_tmp/tikz-test/fermat-refraction-circle.log
.gitignore
fermat-refraction-circle.log
_tikz_tmp/tikz-test/fermat-refraction-circle.tex
assets/images/fermat-refraction-circle.svg
